@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.header {
  margin-bottom: $spacing-2xl;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-lg;

  @include respond-to(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: $spacing-2xl;
}
